.sidebar {
  width: 220px;
  position: fixed;
  right: 0;
  top: 200px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 1px 1px 1px 2px rgb(71, 70, 70);
  background-color: black;
}
@media (min-width: 768px) {
  body {
    margin-right: 220px;
  }
}
@media (max-width: 767.98px) {
  body {
    margin-bottom: 70px;
  }
}

.link:hover {
  background-color: rgb(131, 128, 128);
  border-radius: 10px;
  margin: 6px;
  transition: all 0.5 ease;
}
.active {
  background-color: rgb(172, 168, 168);
  border-radius: 10px;
  margin: 6px;
  color: white;
}

.logo {
  margin-left: 60px;
}
