.aboutContainer {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin: 1.3rem;
}
.aboutText {
  text-align: center;
  font-weight: 700;
  font-size: clamp(1.4rem, 3vw, 3rem);
}

.aboutContent {
  flex: 3.8;
  position: relative;
  border-radius: 25px;
  border: 1px solid white;
  min-height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.aboutProfile {
  position: absolute;
  border: 1px solid white;
  border-radius: 50%;
  max-width: 100px;
  width: 100%;
  top: 23px;
}

.topBox {
  border-radius: 2rem;
  border: 1px solid white;
  height: 10vh;
  background: linear-gradient(
    45deg,
    rgb(43, 43, 43),
    rgb(104, 100, 100),
    rgb(43, 43, 43)
  );
}
.bottomBox {
  border-radius: 2rem;
  border: 1px solid white;
  margin: 0;
  min-height: 340px;
  padding: 25px 0 0 20px;
  background: linear-gradient(
    45deg,
    rgb(43, 43, 43),
    rgb(104, 100, 100),
    rgb(43, 43, 43)
  );
}
.bottomBox p {
  margin: 0;
}
.aboutName {
  font-size: clamp(0.4rem, 2vw, 2rem);
}
.bottomBox p {
  font-size: clamp(0.4rem, 2vw, 1rem);
  color: rgb(168, 166, 166);
}
.socialName {
  display: inline-block;
  font-size: clamp(0.9rem, 1.5vw, 1.3rem);
  color: rgb(168, 166, 166);
  background-color: grey;
  border-radius: 25px;
  padding: 6px 14px;
  margin-bottom: 50px;
}
.aboutSkills {
  flex: 1.2;
  border: 1px solid rgb(71, 71, 71);
  height: auto;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  background-color: rgb(7, 7, 7);
}

.socialScroll {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 9rem;
  align-items: end;
  justify-content: center;
  display: flex;
}
.socialWrapper {
  display: flex;
  flex-direction: row;

  gap: clamp(2rem, 5vw, 4rem);
  margin-top: 57px;
  width: max-content;

  animation: scrollRight 10s linear infinite;
}
.socialItem {
  display: flex;
  border-radius: 15px;
  font-size: clamp(2rem, 3vw, 6rem);
  align-items: center;
}
.skillsHeader {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skillsTitle {
  color: white;
  text-align: center;
  background-color: grey;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  font-size: clamp(0.2rem, 1vw, 1rem);
}
.skillsScroll {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.techItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: clamp(0.3rem, 2vw, 1.4rem);
}

.techWrapper {
  display: flex;
  margin-top: 2.4rem;

  animation: scrollLeft 10s linear infinite;

  flex-direction: column;
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@media (max-width: 768px) {
  .section {
    margin: 0px;
  }
  .aboutContainer {
    margin: 0;
    gap: 5px;
  }

  .aboutContent {
    flex: 2.5;
  }

  .aboutSkills {
    flex: 2;
  }

  .socialWrapper {
    gap: 1rem;
  }
}

.achievementsContainer {
  margin: 1rem;
  display: flex;
  gap: 10px;
}

.achievementsContent {
  flex: 1.5;
  border: 1px solid white;
  border-radius: 20px;

  overflow: hidden; /* ← dagdag */
  min-width: 0;
}
.achievementsTitle {
  text-align: center;
  padding: 5px;
  border-radius: 10px;

  background-color: rgb(82, 78, 78);
  margin: 10px;
  font-size: clamp(0.4rem, 1vw, 2rem);
}
.carouselWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.carouselTrack {
  position: relative;
  width: 100%;
  height: 100%;
}

.carouselTrack img,
.carouselTrack video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carouselDots {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 10;
}

.achievementsContent img,
.achievementsContent video {
  width: 100%;
  display: block;
  height: clamp(120px, 40vw, 400px);
  object-fit: cover;
}

.achievementsDescription {
  flex: 3.5;
  border: 1px solid white;
  border-radius: 25px;
}

.descriptionContent {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
}

.descriptionTitle {
  font-size: clamp(0.3rem, 2vw, 3rem);
  font-weight: bold;
}
.descriptionText {
  font-size: clamp(0.3rem, 2vw, 1.5rem);
  color: rgb(165, 164, 164);
}
