@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@300;400&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(0, 0, 0) !important;
  color: white !important;
  font-family: "DM Sans", sans-serif;
}
section {
  scroll-margin-top: 80px;
}
